.wrapper {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoImg {
    width: 145px;
    margin: 20px 0 5px 0;
}

.logoImg img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    background-color: $color5;
    padding: 15px 30px 30px 30px;
    width: 400px;
    margin-top: 35px;
}

input {
    border: 1px solid $color7;
    border-radius: 2px;
    width: 340px;
    height: 32px;
    margin-bottom: 15px;
}

::placeholder {
    color: $color8;
}