.result {
    background-color: $color5;
    max-width: 320px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.summary {
  margin-bottom: 40px;
}

.summary p, .result h3 {
    margin: 25px 15px;
}

.hide {
  display: none;
}

.show {
  display: block;
}