html,
body {
  background-image: linear-gradient(45deg, rgb(0, 119, 181), rgb(0, 136, 145));
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color1;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-image: -webkit-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
  width: 100%;
  height: 35px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
  border-radius: 3px;
  border: 1px solid $color9;
  margin-top: 15px;
  // margin-left: 5px;
  cursor: pointer;
  outline: none;
}

.resetButton {
  background-image: -webkit-linear-gradient(top, $color8 0%, $color4 100%);
}

