html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(45deg, rgb(0, 119, 181), rgb(0, 136, 145));
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color1;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}