$color1: #FFF;
$color2: #000;

// Background (without gradient)
$color3: #0077b5;

// Label colour
$color4: #444;

// Box background
$color5: #EEE;

// Button colour
$color6: #287bbc;

// Input border
$color7: #BFBFBF;

// Placeholder text color
$color8: #BBB;

// Button border - RGB(27, 84, 128)
$color9: #1B5480;
